[package]
name = "kc-storage"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
rocksdb.workspace = true
tokio.workspace = true
